#pointer{
	position:absolute;
	width:100px;
	height:100px;
	background-color:red;
	z-index: 100;
}




/*滑块标题样式*/
    .slide_title{
        background-color: #0BFFFFFF;
        font-size: 20px;
    }
/*滑块内容样式*/
    .slide_inner > div{
        background-color: white;
        font-size: 15px;
    }

/*关闭滑块的样式*/
.slide_closing > .slide_inner{
	display:none;
}
