#pointer{
	position:absolute;
	width:24px;
	height:24px;
	background-color:red;
	z-index: 100;
}

.center{
	width:0px;
    height:0px;
    position:absolute;
}




/*滑块标题样式*/
    .slide_title{
        background-color: #0BFFFFFF;
        font-size: 20px;
    }
/*滑块内容样式*/
    .slide_inner > div{
        background-color: white;
        font-size: 15px;
    }

/*关闭滑块的样式*/
.slide_closing > .slide_inner{
	display:none;
}
