.line{
	position:absolute;
	box-sizing: border-box;
}

.line_inner{
	position:absolute;
	float:left;
	transform-origin:0 50%;
	z-index:0;
}

/*line_dot对象*/
.line_dot{
	width:16px;
	height:16px;
	background:#00D0FFFF;

	position:absolute;
	border-radius: 50%;
	z-index: 2;
	box-sizing: border-box;
	opacity:1;
}

	.line_dotMidway{
		width:0px;
		height:0px;
		z-index:1;
		display:flex;  
		text-align: center;
		justify-content: center;
		align-items:center;
		opacity:1 !important;
	}

		.line_dotMidway_inner{
			width:16px;
			height:16px;
			border-radius:50%;
			background:#E4461AFF;
			position:absolute;
			opacity:1;
			z-index:1;
		}

		.line_dotMidway_border{
			border-radius:50%;
			position:absolute;
			z-index:0;
		}


	.line_dotLeft{
		left:0px;
	}

	.line_dotRight{
		right:0px;
	}

	.line_arrow{
		width:0px;
		height:0px;
		position:absolute;
	}

		.line_arrow_right{
			right:0px;
		}