/*作图功能区*/
	#huabu_ability{
	 	width:100%;
	  	height:50px;
	  	font-size:25px;
	}

	.draw_block{
	    text-align:center;
	    padding:0px 5px;
	    height:49px;
	    float:left;
	    background-color:#1F9098D2;
	    display: flex; 

	    justify-content:center;
	    align-items: center;
	}

	#huabu_ability #search{
	  	width:200px;
	  	height:49px;
	  	right:100px;
	  	position:absolute;
	}

	#huabu_ability #night{
	  	right:0px;
	  	position:absolute;
	}
	#huabu_ability #fullscreen{
	  	right:50px;
	  	position:absolute;
	}

	.huabu_ability_button{
	  	max-width:25px;
	}

	#huabu_ability_ScaleShow{
		justify-content:right;
	  	text-align:right;
	  	width:70px;
	}

/*画布对象区域*/
    #huabu_container{
	    width:100%;
	    /*要减去另外两个区域的高度*/
	    height:calc(100% - 80px);
	    float: left;
	    position:absolute;
	    overflow:hidden;
    }

    .tile_container{
	    width:100%;
	    height:100%;
	    position:absolute;
	    left:0px;
	    top:0px;
    }

/*画布按键区域*/
	#huabu_changeBar{
	    width:100%;
	    height:30px;
	    background-color:black;
	    position:absolute;
	    bottom:0;
	}
    .huabu_button{
	    text-align:center;
	    font-size:20px;
	    padding-left:5px;
	    padding-right:5px;
	    background-color:white;
	    height:100%;
	    float:left;
	    position:relative;
	    border-right: 2px solid;
    }

    #huabu_button_menu{
		display:none;
		border:2px solid;
		width:200px;
		background-color:lightblue;
		font-size:23px;
		position:absolute;
    }
    /*画布按键栏功能*/
	    #copy_huabu{
	        padding-left:40px;
	        height:40px;
	        line-height:40px;
	    }
	    #rename_huabu{
	        padding-left:40px;
	        height:40px;
	        line-height:40px;
	    }
	    /*重命名画布弹窗CSS*/
	    #rename_alert{
	        font-size:30px;
	    }
	    #rename_input{
	        height:30px;
	        width:100px;
	        font-size:30px;
	    }
	    /*删除画布弹窗CSS*/
	    #delete_huabu{
			padding-left:40px;
			height:40px;
			line-height:40px;
	    }
    
/*画布两侧调整大小半透明条*/
	.resize_block{
	    opacity:0;
	    height:95%;
	    width:15px;
	    background-color:grey;
	    position:absolute;
	    z-index:2;
	}
	#left_resize{
	    left:0;
	}
	#right_resize{
	    right:0;
	}

/*画布区域内的菜单*/
.huabu_menu{
    position:absolute;
    background-color:white;
    min-width:150px;
    min-height:100px;
    display:none;
    border:2px solid black;
    z-index:100;
}
	/*未启用的菜单项目*/
	.huabu_menu .disabled{
		color:#9B9B9BFF;
		background-color:#E0E0E0FF;;
	}
	/*间隔线条的样式*/
	.huabu_menu .menu_line{
		width:98%;
		height:1px;
		background-color:#DBDBDBFF;
		margin:2px auto;
	}

/*画布创建弹窗*/
#addHuabu_alerttext{
	font-size:30px;
}
.addHuabu_input{
	font-size:25px;
	height:30px;
	width:100px;
}