/*顶部画布功能栏*/
	#huabu_ability{
		background-color:var(--color-2);
        border-bottom:1px solid var(--border-color);
        width:100%;
        height:50px;
        box-sizing:border-box;
        display: flex;
        flex-wrap:nowrap;
        position:relative;
        z-index:3;
    }

/*两侧调整大小半透明条*/
	.resize_block{
	    opacity:0;
	    height:calc(100% - 80px);
	    width:15px;
	    background-color:var(--color-4);
	    position:absolute;
	    z-index:2;
	}
	#left_resize{
	    left:0;
	}
	#right_resize{
	    right:0;
	}

/*画布对象区域*/
    #huabu_container{
	    width:100%;
	    /*要减去另外两个区域的高度*/
	    background-color:var(--color-0);
	    height:calc(100% - 80px);
	    overflow:hidden;
	    position:relative;
	    z-index:1;
	    box-sizing: border-box;
    }

/*画布按键区域*/
	#huabu_changeBar{
	    width:100%;
	    height:30px;
	    background-color:var(--color-1);
	    border-top:1px solid var(--border-color);
	    position:absolute;
	    bottom:0;
	    z-index:3;
	}
		/*按键部分*/
			#huabu_changeBar_button{
				width:calc(100% - 50px);
				height:100%;
			}

				#huabu_buttonBar{
					display: inline-flex;
					position:relative;
					height:100%;
					z-index:1;
				}
				/*画布按键*/
			    .huabu_button{
			    	white-space: nowrap;
				    text-align:center;
				    font-size:20px;
				    padding:0 10px;
				    height:100%;
				    float:left;
				    box-sizing: border-box;
				    position:relative;
				    color:var(--color-5);
				    background-color:var(--color-1);
				    border-right: 1px solid var(--border-color);
			    }
			    /*聚焦到这个button所在的画布时*/
			    .huabu_button.focusing_button{
			    	font-weight:700;
			    	color:var(--text-color);
			    	background-color:var(--color-0);
			    }
			    .huabu_button.focusing_button::before{
			    	content:"";
			    	display:block;
			    	/*加上padding的宽度*/
			    	width:calc(100% + 20px);
			    	left:-10px;
			    	height:1px;
			    	background-color:var(--color-0);
			    	position:relative;
			    	top:-1px;
			    }
		/*换页按键部分*/
			#huabu_changeBar_page{
				display:none;
				
				position:absolute;
				top:0px;
				right:0px;

				height:100%;
				width:50px;

				background-color:var(--color-2);

				z-index:2;
			}
			#huabu_changeBar_page div{
				width:25px;
				background-repeat: no-repeat;
				background-size:100%;
				background-position:center center;
			}
				#huabu_changeBar_page_left{
					background-image: url("./img/simple_arrow_left.png");
				}
				#huabu_changeBar_page_left.disabled{
					background-image: url("./img/simple_arrow_left_disabled.png");
				}
				#huabu_changeBar_page_right{
					background-image: url("./img/simple_arrow_right.png");
				}
				#huabu_changeBar_page_right.disabled{
					background-image: url("./img/simple_arrow_right_disabled.png");
				}



	



	/*画布创建弹窗*/
		#addHuabu_alerttext{
			font-size:30px;
		}
		.addHuabu_input{
			font-size:25px;
			height:30px;
			width:100px;
		}

