<html>
	<div id="huabu_button_menu" class="menu object_menu">
		<div>
	        <div id="copy_huabu" class="hoverbar"  >创建副本</div>
	        <div id="rename_huabu" class="hoverbar">重命名</div>
	        <div id="delete_huabu"class="hoverbar" >删除</div>
	    </div>
    </div>
</html>

<script type="text/javascript">
	//画布拷贝
	$("#copy_huabu").on("click",function(){
		copyHuabu(return_focusing_huabu())
	})

	//画布重命名
	$("#rename_huabu").on("click",function(){
		renameHuabu(return_focusing_huabu())
	})

	//画布删除
	$("#delete_huabu").on("click",function(){
		deleteHuabu(return_focusing_huabu())
	})

</script>

<style type="text/css">
	#huabu_button_menu{
		display:none;
		background-color:var(--color-1);
		font-size:20px;
		position:absolute;
    }
    #huabu_button_menu div div{
    	padding:2px 10px;
    	background-color:var(--color-1);
    }
    #huabu_button_menu div div:hover{
    	background-color:var(--color-3);
    }
</style>