.miniObject{
	display: inline-flex;
	white-space:nowrap;
	align-items: center;
	justify-content:center;
	cursor: pointer;
}

.miniObject span{
	font-size:16px;
}

/*缩略块们的样式*/
.miniBlock_huabu{
	height:12px;
	width:20px;
}
.miniBlock_tile{
	height:12px;
	width:20px;
	border:1px solid black;
	box-sizing: border-box;
}
.miniBlock_textblock{
	height:12px;
	width:20px;
	background-image: url("../../img/textblock.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	border:1px solid black;
	border-radius:3px;
}