<html>
    <div id="huabu_ability"></div>

    <div id="left_resize"  class="resize_block"></div>
    <div id="right_resize" class="resize_block"></div>

    <div id="huabu_container"></div>

    <div id="huabu_changeBar"></div>
</html>

<script>$("#huabu_ability").load("./components/area_ability/huabu_ability.html")</script>
<script src="./js/area/area_huabu.js"></script>
<link rel="stylesheet" href="./css/area/area_huabu.css">

<script src="./js/object/object_huabu.js"></script>
<script src="./js/object/object_tile.js"></script>
<script src="./js/object/object_line.js"></script>
<script src="./js/object/object_tiletext.js"></script>
<script src="./js/object/object_composite.js"></script>


<link rel="stylesheet" href="./css/object/object_tile.css">
<link rel="stylesheet" href="./css/object/object_line.css">
<link rel="stylesheet" href="./css/object/object_tiletext.css">
<link rel="stylesheet" href="./css/object/object_composite.css">
