<html>
    <div id="leftArea_tile_container">
        <div class="button_container">
            <button class="button" onclick="addHuabu()">新建画布</button>
        </div>
        <div class="button_container">
            <button class="button" onclick="createTile()">新建磁贴</button>
        </div>
        <div class="button_container">
            <button class="button" onclick="createStyleLine()">新建线条</button>
        </div>

        <div id="search_tile">
            <input value="搜索磁贴类型">
        </div>

        <div id="memorize_tile" class="slide_title">记忆面包<span>    编辑</span>
            <div class="slide_inner">
                <div>记忆体1</div>
                <div>记忆体2</div>
                <div>记忆体3</div>
            </div>

        </div>

        <div id="use_template" class="slide_title slide_closing">套用模板
            <div class="slide_inner">
                <div>+导入模板</div>
                <div>模板1</div>
                <div>模板2</div>
                <div>模板3</div>
            </div>
        </div>

        <div id="tile_type">
            <div class="slide_title slide_closing">A种
                <div class="slide_inner">
                    <div>A1</div>
                    <div>A2</div>
                    <div>A3</div>
                    <div>A1</div>
                    <div>A2</div>
                    <div>A3</div>
                    <div>A1</div>
                    <div>A2</div>
                    <div>A3</div>
                    <div>A1</div>
                    <div>A2</div>
                    <div>A3</div>
                    <div>A1</div>
                    <div>A2</div>
                    <div>A3</div>
                </div>
            </div>
            <div class="slide_title slide_closing">B种
                <div class="slide_inner">
                    <div>B1</div>
                    <div>B2</div>
                    <div>B3</div>
                </div>
            </div>
        </div>
    </div>

    <div id="import_tile">
        <div>分类设置</div>
    </div>
</html>

<script src="./js/area/area_left.js"></script>

<link rel="stylesheet" href="./css/area/area_left.css">