<html>
    <div id="topArea_icon"></div>

    <div id="topArea_user">
        <div id="topArea_userIcon">未登录</div>
        <div id="topArea_userMenu">
        	<div class="arrow_top"></div>
        	<div id="topArea_userPage" class="button">个人主页</div>
        	<div class="separate_line"></div>
        	<div id="topArea_onlineRoom" class="button">在线房间</div>
        	<div class="separate_line"></div>
        	<div id="topArea_userQuit" class="button">退出登陆</div>
        </div>
    </div>

    <div id="topArea_fileName"><span>点此新建工程文件</span></div>

    <div id="topArea_ability"></div>
</html>

<script src="./js/area/area_top.js"></script>
<script type="text/javascript">
    $("#topArea_ability").load("./components/area_ability/top_ability.html")
</script>

<link rel="stylesheet" href="./css/area/area_top.css">