/*磁贴CSS*/
.tile{
    position:absolute;
    cursor: default;
    font-size: 30px;
    width: 100px;
    height: 100px;
    border: 2px solid;
    color: black;
}

.tile.focusing{box-shadow:0 0 3px 3px #3385FFBB;}

.tile .tile_input{
    position:absolute;
    width: 100%;
    height: 100%;
    font-size: 100%;
    border: none;
    background: transparent;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.tile .tile_input:focus{
    outline:none;
}

.tile .tile_title{
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.tile .tile_snap_dot{
    height:16px;
    width:16px;
    background-color:#5DFFFFFF;
    position:absolute;
    border-radius:50%
}

#tile_menu #tile_color{
    display: flex;
    align-items: center;
}

#tile_menu #tile_color .colorpicker{
    position:relative;
    left:10px;
}