.line{
	position:absolute;
	box-sizing: border-box;
}

.lineInner{
	position:absolute;
	transform-origin:0 50%;
	z-index:0;
}

	.line_arrow{
		user-select: none;
		width:0px;
		height:0px;
		position:absolute;
	}

		.line_arrow_right{
			right:0px;
		}

