/*磁贴CSS*/
.tile{
    position:absolute !important;
    cursor: default;
    font-size: 30px;
    width: 100px;
    height: 100px;
    border: 2px solid;
    color: black;
    z-index:1;
}

/*聚焦状态的tile*/
.tile.focusing{
    outline:2px dashed var(--focusing-color);
    outline-offset:2px;
}


/*tile的标题输入框*/
.tile .tile_title:focus{
    outline:none;
}

/*tile的标题*/
.tile .tile_title{
    font-family:Microsoft YaHei, Arial, sans-serif;

    position:absolute;
    left:0;
    top:0;

    background-color:transparent;
    height:100%;
    width:100%;

    display:flex;
    text-align: center;
    justify-content: center;
    align-items:center;

    pointer-events:none;
}


#tile_menu #tile_color{
    display: flex;
    align-items: center;
}

#tile_menu #tile_color .colorpicker{
    position:relative;
    left:10px;
}

/*显示在磁贴上方，用于进入磁贴嵌套的画布的按键*/
.openNestedHuabuButton{
    background-color:var(--color-1);

    white-space:nowrap;

    position:absolute;
    display:inline-flex;
    align-items:center;
    justify-content:center;

    border:1px solid var(--border-color);
    border-radius:3px;

    min-width:100px;
    height:30px;

    padding:0px 15px;

    z-index:10;
}

.openNestedHuabuButton:hover{
    background-color:var(--color-2);
}