.tile.line_connect_start{
    box-shadow:0px 0px 10px 3px red;
}

.tile.line_connect_end{
    box-shadow:0px 0px 10px 3px green;
}

.line{
	position:absolute;
    font-size: 20px;
    z-index:0;
}

.line.focusing > .line_path{
    outline:2px dashed var(--focusing-color);
    /*outline-offset:-40px;*/
}

.line_text{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color:var(--color-0);
}



.focusing_lineText{
    outline:2px dashed var(--focusing-color);
    outline-offset:2px;
}

svg{
    pointer-events: none;
    overflow:visible;
}

svg path{
    pointer-events: visiblePainted;
}

svg path:hover{
    cursor: pointer;
}

svg foreignObject {
    pointer-events: none;
}
svg foreignObject div{
    pointer-events: visiblePainted;
    cursor: pointer;
}