<html>
    <div id="huabu_menu" class="menu huabu_menu">
        <div id="huabu_paste_here">粘贴到此处</div>
        <div id="huabu_insert">插入
            <div class="menu huabu_menu">
                <div id="huabu_insert_table">表格</div>
                <div id="huabu_insert_picture">图片</div>
                <div id="huabu_insert_link">链接</div>
            </div>
        </div>
        <div class="menu_line"></div>

        <div id="huabu_undo">撤回</div>
        <div id="huabu_redo">重做</div>
        <div class="menu_line"></div>

        <div id="huabu_return_before_Huabu">返回上一层画布</div>
        <div class="menu_line"></div>

        <div id="huabu_select_all">全选</div>
        <div id="huabu_delete_all">清空</div>     
    </div>
</html>

<script src="./js/menu/huabu_menu.js"></script>