<html>
    <div id="tile_menu" class="menu huabu_menu">
        <div id="tile_copy">复制</div>
        <div id="tile_cut">剪切</div>
        <div id="tile_delete">删除</div>

        <div class="menu_line"></div>

        <div id="nest_huabu">进入画布</div>
        <div id="open_link">打开链接</div>

        <div class="menu_line"></div>

        <div id="tile_color">颜色:
            <div class="colorpicker">
                <div class="colorpicker_block"></div>
                <div class="colorpicker_img"></div>
            </div>
        </div>

        <div id="tile_angle_shun">顺时针旋转45度</div>
        <div id="tile_angle_ni">逆时针旋转45度</div>
        <div id="tile_up">上浮1层</div>
        <div id="tile_down">下沉1层</div>
        <div id="tile_shape">改变形状</div>

        <div class="menu_line"></div>

        <div id="tile_lock_unlock">锁定/解锁</div>
        <div id="tile_tiletext">显示/隐藏其对应的tiletext</div>
    </div>
</html>

<script src="./js/menu/tile_menu.js"></script>