<html>
    <div id="huabu_ability_ScaleUp" class="draw_block">
        <img class="huabu_ability_button" src="./img/ScaleUp.png">
    </div>
    <div id="huabu_ability_ScaleShow" class="draw_block">
        <div>100%</div>
    </div>
    <div id="huabu_ability_ScaleDown" class="draw_block">
        <img class="huabu_ability_button" src="./img/ScaleDown.png">
    </div>

    <!-- 未完成↓ -->

    <div class="draw_block">
        <img class="huabu_ability_button" src="./img/undo.png">
    </div>
    <div class="draw_block">
        <img class="huabu_ability_button" src="./img/redo.png">
    </div>

    <div class="draw_block">删除</div>
    <div class="draw_block">上浮</div>
    <div class="draw_block">下沉</div>
    <div class="draw_block">颜色</div>

    <div class="draw_block">连线样式</div>
    <div class="draw_block">连线规则</div>

    <div class="draw_block">快捷添加</div>
</html>

<script src="./js/area_ability/huabu_ability.js"></script>