<html>
    <div id="rightArea_edit_huabu" class="rightArea_edit_inner_block">
        <div id="huabu_member_tree">画布成员</div>
    </div>

    <div id="rightArea_edit_tile" class="rightArea_edit_inner_block">
        <div class="slide_menu" mode="expanding">
            <div class="slide_title unfolding">内容修饰</div>
            <div class="slide_inner">
                <div id=rightArea_tile_text_design>

                <!-- 第二行 -->
  
            </div>
        </div>
        <div class="slide_menu" mode="expanding">
            <div class="slide_title unfolding">内容显示</div>
            <div class="slide_inner">
                <!-- 用于放置磁贴的内容 -->
                <div id="rightArea_tile_edit">
                    <div id="rightArea_tile_edit_title"></div>
                    <div id="rightArea_tile_edit_text"></div>
                </div>
            </div>
        </div>
    </div>
    
</html>

<script src="./js/area_ability/right_edit.js"></script>

<link rel="stylesheet" href="./css/area_ability/right_edit.css">