<html>
    <div class="rightArea_inner_block slide_title" mode="expanding">画布
        <div class="slide_inner">

            <div class="rightArea_inner_ability">
                <div class="rightArea_inner_ability_title">-属性-</div>
                <div class="rightArea_inner_ability_inner"> 
                    <div>画布名称（可以重命名）</div>
                    <div>画布大小（可以修改）</div>
                    <div>画布成员：显示该画布所包含的磁贴，若磁贴嵌套了画布则用展开式显示，可以借此定位或删除某些磁贴</div>
                </div>  
            </div>

            <div class="rightArea_inner_ability">
                <div class="rightArea_inner_ability_title">-显示-</div>
                <div class="rightArea_inner_ability_inner"> 
                    <div>背景颜色</div>
                    <div>网格画布</div>
                    <div>插入图片</div>
                </div>  
            </div>

            <div class="rightArea_inner_ability">
                <div class="rightArea_inner_ability_title">-操作-</div>
                <div class="rightArea_inner_ability_inner"> 
                    <div>删除</div>
                    <div>拷贝（可以选择仅拷贝画布 或者联同Tile一起拷贝）</div>
                </div>  
            </div>



        </div>
    </div>

    <div class="rightArea_inner_block slide_title" mode="expanding">磁贴
        <div class="slide_inner">

        <div class="slide_title" mode="expanding">图形
            <div class="slide_inner">
                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-背景-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>背景颜色</div>
                        <div>填充类型(可以不是纯色)</div>
                        <div>插入图片</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-位置-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>top X left</div>
                        <div>角度</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-形状-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>高度 X 宽度</div>
                        <div>比例限制选项(增加或减少的值比例同步)</div>
                        <div>改变形状</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-边框-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>类型</div>
                        <div>宽度/粗细</div>
                        <div>颜色</div>
                        <div>弧度(圆润度)</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-层叠-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>显示和修改层叠优先级</div>
                        <div>调整层叠优先级</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-样式设置-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>锁定/解锁</div>
                        <div>复制该样式</div>
                        <div>粘贴该样式</div>
                        <div>加入：记忆面包（或者选择其他的自定义分类）</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide_title" mode="expanding">文字
            <div class="slide_inner">

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-显示-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>是否显示标题</div>
                        <div>标题显示的位置</div>
                        <div>换行</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-字体-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>字体大小</div>
                        <div>字体类型</div>
                        <div>字体颜色（透明度）</div>
                    </div>  
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-修饰-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>加粗</div>
                        <div>斜体</div>
                        <div>阴影</div>
                        <div>上中下三种下划线</div>
                        <div>对齐方式</div>
                    </div>  
                </div>

            </div>
        </div>

        <div class="slide_title" mode="expanding">高级
            <div class="slide_inner">
                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-插入-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>连接</div>
                        <div>注释</div>
                        <div>嵌套画布
                            <div>新建画布</div>
                            <div>选择画布，可以选择已经打开的，或者文件形式的画布</div>
                            <div>相关设置比如如何进入嵌套的画布之类的</div>
                        </div>
                    </div>
                </div>

                <div class="rightArea_inner_ability">
                    <div class="rightArea_inner_ability_title">-tiletext设置-</div>
                    <div class="rightArea_inner_ability_inner"> 
                        <div>脱离当前tile</div>
                        <div>保持显示</div>
                        <div>不显示该tile的textblock</div>
                    </div>
                </div>
            </div>
        </div>

            

        </div>
    </div>

    <div class="rightArea_inner_block slide_title" mode="expanding">线条
        <div class="slide_inner">
            <div>111</div>
        </div>
    </div>

    <div class="rightArea_inner_block slide_title" mode="expanding">组合
        <div class="slide_inner">
            <div>111</div>
        </div>
    </div>
</html>

<script src="./js/area_ability/right_design.js"></script>

